/* color1: #1e1e1e */
/* color2: #cc0001 */
/* color3: #e3e3e3 */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}

nav {
    width: 100%;
    height: 8rem;
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

header {
    background: linear-gradient(#0000008a, #0000008a), url(/img/header-image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 28rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

a {
    text-decoration: none;
    color: white;
}

.nav-links {
    margin-left: 5rem;
}

.nav-link {
    padding: 0 .4rem;
    font-size: 14px;
}

.links-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 2px #fff;
    padding: 0 0 .7rem 0;
}

.links-2 {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: .7rem 0 0 0;
}

.font-bold { 
    font-weight: bold; 
}

.nav-btn {
    background-color: white;
    padding: .6rem 1.5rem;
    border-radius: 50rem;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}

.icon-btn {
    background-color: transparent;
    border: none;
    width: 1.3rem;
    cursor: pointer;
}

.header-titulo {
    font-size: 3.2rem;
    font-weight: 900;
}

.header-descripcion {
    font-size: 1.1rem;
    font-weight: bold;
}

.inacap-icon {
    width: 9rem;
}

.seccion-1 {
    background-color: #e3e3e3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenidos {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

.info {
    width: 20rem;
    height: 20rem;
    padding: .5rem 1.6rem;
}

.info h3 {
    font-size: 1.3rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
}

.linea-vertical {
    height: 20rem;
    width: 2px;
    background-color: black;
}

.info button, p {
    margin-bottom: 1rem;
}

.black-btn {
    background-color: black;
    color: white;
    padding: .7rem 1.5rem;
    border-radius: 50rem;
    font-size: 1rem;
    cursor: pointer;
    width: 14rem;
}

.transparente-btn {
    background-color: transparent;
    border: solid 2.5px black;
    font-weight: bold;
    padding: .7rem 1.5rem;
    border-radius: 50rem;
    font-size: 1rem;
    cursor: pointer;
}